<div class="container">
  <div class="title">
      Contact
  </div>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="login">
    <input type="email" class="form-control" [(ngModel)]="email">
    <textarea type="text" class="form-control comment" rows="10" placeholder="Message"></textarea>
    <div class="col-sm col-xs btn-group" role="group">
        <button class="btn btn-info" >Envoyer</button>
        <button class="btn btn-secondary">Effacer</button>
  </div>
</div>    
</div>
