.header{
    height:auto;
    width: 100%;
    background-color: #007FB5;
    position: fixed;
    z-index: 2;
}
img{
    width:15vw;
    height: auto;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    position: relative;
}
.logo{
    margin-right: 2vw;
}
.menuBtn{
    position: relative;
    text-align: center;
    z-index: 1;
}
.button{
    vertical-align: middle;
}
a{
    color:rgb(173, 221, 247);
    top: 20%;
    position: relative;
    text-shadow: 1px 0.5px rgb(58, 79, 82);
}
.toggleSub{
    background-color: rgb(37, 52, 65)
}
.ul{
    height: 100%;
    width:80%;
    left:20%;
    right:0;
    position: relative;
}
li{
    position: relative;
    margin-right: 2%;
    float:right;
}
.row{
   margin: 0;
}

.navProfil{
   left:45vw;  
}
.ion{
    font-size: 2vw;
    color:rgb(173, 221, 247);
}
.pro{
    display: block;
    margin-top:1%;
    margin-right: -1%;
}
.info{
    display: block;
    margin-right: 2%;
    margin-top:1%;
}
ul{
    width:auto;
}
p{
display: inline;
position: relative;
bottom: 5%;
}
.ion{
    font-size: 30px;
    padding: 5px;
}