.container{
    position: relative;
    top:8vw;
}
.card{
    position: relative;
    background:  rgb(56, 68, 80);
    color:rgb(230, 246, 255);
}
.form-group{
   background:  rgb(76, 86, 97);
   width: auto;
   height: auto;
}
input{
    width: 40%;
    margin-bottom: 2%;
}