.container{
    top:8vw;
    position: relative;
}
.card{
    padding: 0;
}
.card-header{
    background: #007EB1;
    width:100%;
    color:rgb(173, 221, 247);
    font-size: 20px;
    text-shadow: 1px 0.5px rgb(58, 79, 82);
}