.container{
    position: relative;
    top:8vw;
}
.card{
    margin-bottom: 4%;
}
.card-header{
    font-size: 1vw;
    width: 100%;
    background:  rgb(53, 68, 82);
    color:rgb(199, 223, 236);
    text-shadow: 1px 0.5px rgb(58, 79, 82);
}
.bestProno{
  width: 15%;
  position: relative;
  float: right;
  margin-top:8%;
  margin-right: 2%;
  height: auto;
}
.prono{
    background:  rgb(56, 68, 80);
    color:rgb(230, 246, 255);
}

.list-rank{
    background:  rgb(76, 86, 97);
}
button{
  display: block;
  position: relative;
}